<section class="phx-hero">
  <h1><%= gettext "Welcome to the Chat, %{name}!", name: "Pokemon" %></h1>
</section>

<div id="chat-box">
    <%= for message <- @messages do%>
        <p><%= message.username %>  :  <%= message.message %></p>
    <% end %>
</div>

<form id="chat-form">
    <textarea placeholder="Your message" id="user-msg"></textarea>
    <button type="submit">Send</button>
</form>
